extends layout

block content
  script(type='text/javascript', src='javascripts/apis.js')
  link(rel="stylesheet", type="text/css", href='stylesheets/style.css')
  h1= title
  a(href="./logout") Log out
  p Hello, #{name}
  p Welcome to #{title}
  p(id="location") #{address}
  p(id="token") #{token}
  p #{food}
  // Code below is by Feras Odeh (http://stackoverflow.com/questions/10151837/submit-jade-form)
  div
      button(id="getFitbitData") Get Fitbit Data!
      button(id="getMenu") Get Menu!
      button(id="updateCart") Update Cart Contents!
      button(id="checkOut") Check Out!
  div
  table
    tr
      th Cuisine
      th MerchantID
      th Dish
      th Cart
    tr
      td(id="cuisines",style="vertical-align: top")
      td(id="merchant_id",style="vertical-align: top")
      td(id="dishes",style="vertical-align: top")
      td(id="cart",style="vertical-align: top")
      //form(action='/preference',method='post')
      //  div(id='hiddendiv',data-role='fieldcontain')
      //    fieldset(data-role='controlgroup')
      //      label Food Type 01
      //      input(name="food01",type='text')
      //    fieldset(data-role='controlgroup')
      //      label Food Type 02
      //      input(name="food02",type='text')
      //  div(data-role='fieldcontain')   
      //    input(type='submit',value='Food Preference',data-transition='fade', data-theme='c')  
        